<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>BOARD</title>
</head>

<body>
  <!-- <form action="/board" method="POST">
    <div>
      <label>글 제목</label>
      <input type="text" name="title">
    </div>
    <div>
      <label>글 내용</label>
      <input type="text" name="content">
    </div>
    <button type="submit">제출</button>
  </form> -->
  <h1>Somin Board</h1>
  <p>현재 등록 글: <%= boardCounts%>
  </p>
  <a href="/board/write">글쓰기</a>
  <ul>
    <% if(boardCounts > 0 ){ %>
    <% for(let i=0; i< boardCounts; i++){ %>
    <li>
      <p>title: <%= BOARD[i].title%>
      </p>
      <p>content: <%=BOARD[i].content %>
      </p>
      <a href="" onclick="deleteBoard('<%= BOARD[i].title %>');">삭제</a>
      <a href="" onclick="editBoard('<%= BOARD[i].title %>');">수정</a>
    </li>
    <% } %>
    <% } else { %>
    <li>
      글이 없습니다.
    </li>
    <% } %>
  </ul>

</body>

<script>
  function editBoard(title) {
    fetch(`http://localhost:4000/board/edit/${title}`, {
      method: 'get',
      // headers: {
      //   'Content-type': 'application/json'
      // },
    }).then((res) => {
      console.log(res);
    })
  }

  function deleteBoard(title) {
    fetch(`http://localhost:4000/board/${title}`, {
      method: 'delete',
      headers: {
        'Content-type': 'application/json'
      },
    }).then((res) => {
      console.log(res);
      location.reload();
    })
  }
</script>

</html>